@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');

html {
  background-color: rgb(43, 41, 41);
  padding: 50px;
}

body {
  background-color: rgb(252, 245, 245);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  main {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 1110px;
    font-size: 30px;
  }

  .logo {
    background-image: url('pexels-pixabay-459335.jpg');
    background-size: cover;
  }

  cite {
    position: relative;
    top: 20%;
    left: 10%;
    font-size: 1.5em;
    color: azure;
  }

  .container {
    display: flex;
    flex-direction: column;
    padding-top: 2%;
    padding-left: 5%;
    width: 50vw;
  }

  p {
    font-size: 1.2em;
    font-family: 'Merriweather', serif;
    max-width: 35vw;
  }

  .login {
    background-image: url('pexels-tirachard-kumtanom-733852.jpg');
    background-size: cover;
    max-width: 90%;
  }

  .form_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 100%;
  }

  .left,
  .right {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 60%;
  }

  input {
    max-width: 20vw;
    height: 45px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgb(43, 41, 41);
    padding-left: 5px;
    font-size: 1em;
    font-family: 'Merriweather', serif;
  }

  #email {
    max-width: 20vw;
  }

  input:hover {
    border-color: rgb(14, 38, 255);
  }

  input::placeholder {
    font-family: 'Merriweather', serif;
    font-size: 25px;
  }

  .btn {
    margin-left: 35%;
    color: #396df2;
    background-color: #fff;
    border: 1px solid #7f8cff;
    border-radius: 8px;
    height: 90px;
    max-width: 720px;
  }

  .btn:hover {
    background-color: #396df2;
    color: #fff;
    cursor: pointer;
  }
}

@media only screen and (max-width: 767px) {
  html {
    padding: 0;
  }
  main {
    grid-template-columns: 1fr;
    /* height: 100%; */
  }

  .logo {
    display: none;
  }

  .container {
    background-image: url('pexels-tirachard-kumtanom-733852.jpg');
    background-size: cover;
    /* height: 1000px; */
  }

  p {
    font-size: 1.2em;
    font-family: 'Merriweather', serif;
    /* max-width: 35vw; */
  }

  form {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    padding-left: 30px;
  }

  input {
    width: 50%;
    height: 45px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgb(43, 41, 41);
    padding-left: 5px;
    font-size: 1em;
    font-family: 'Merriweather', serif;
  }

  .left,
  .right {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  input:hover {
    border-color: rgb(14, 38, 255);
  }

  input::placeholder {
    font-family: 'Merriweather', serif;
    font-size: 15px;
  }

  .form_container {
    flex-direction: column;
  }

  .btn {
    min-width: 20%;
    margin-bottom: 20px;
  }

  .btn:hover {
    background-color: #396df2;
    color: #fff;
    cursor: pointer;
  }
}
